:root {
    --radius: 10px;
    --spacing: 8px;
    --color: whitesmoke;
    --box-shadow: 5px 5px 10px -3px rgba(100, 100, 100, 0.3);
    --font: sans-serif
}
body {
    padding: 10px;
    background-color: rgb(10, 10, 10);
    color: whitesmoke;
    font-family: sans-serif;
    width: 500px;
}
.header {
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid whitesmoke;
    width: 100%;
    padding: 10px 0px;
    margin: 0px;
}
.header__title {
    padding: 0px;
    margin: 0px;
}
.input {
    border: none;
    border-radius: var(--radius);
    padding: var(--spacing);
    margin: var(--spacing);
    background-color: hsla(0, 0%, 100%, 0.1);
    color: var(--color);
    box-shadow: var(--box-shadow);
    font-family: var(--font);
    font-size: 1em;
    resize: none;
}
.input__label {
    padding: 0px var(--spacing);
}